body {
  /*background-color: cadetblue;*/
  color: black;
  display: inline;
}

.home-page-title {
  text-align: center;
  padding: 1em;
}

.home-page-subtitle {
  text-align: center;
}

.no-entries-sign {
  margin-top: 1em;
}

.flex-container-buttons {
  display: flex;
  height: 50px;
}

.flex-container-button-item {
  width: 20%;
  text-align: center;
  vertical-align: middle;
}

.flex-container-button-item button{
  padding: 0.5rem;
  background-color: antiquewhite;
  border-radius: 10px;
}

.flex-container-button-item button:hover{
  background-color: bisque;
}

.link.selected{
  color: #000;
  text-decoration: underline;
}

.post-item {
  padding: 10px;
  color: black;
  font-size: 1.2em;
}

#posts-button,
.home-button,
.submit-register-form-button,
.submit-login-form-button,
.submit-finish-lesson,
.default-button {
  padding: 5px;
  font-size: 1em;
  border: 2px solid darkslategrey;
  margin: 5px;
  background-color: lightcoral;
  border-radius: 6px;
  cursor: pointer;
  outline: transparent;
}

.submit-finished-lesson {
  cursor: not-allowed;
  padding: 5px;
  font-size: 1em;
  border: 2px solid darkslategrey;
  margin: 5px;
  background-color: lightgrey;
  border-radius: 6px;
  outline: transparent;
}

#posts-button {
  width: 50px;
}

.home-button,
.submit-register-form-button,
.submit-login-form-button {
  width: 100px;
}

.expansion-panel-summary .default-button .choose-course {
  width: 400px;
}

.submit-finish-lesson,
.submit-finished-lesson {
  width: 50%;
  margin: 1rem auto 1rem auto;
}

.submit-register-form-button,
.submit-login-form-button {
  margin-top: 1.7rem;
}

#posts-button-add-block {
  width: 200px;
  padding: 5px;
  font-size: 1em;
  border: 2px solid darkslategrey;
  margin: 5px;
  background-color: lightcoral;
  border-radius: 6px;
  cursor: pointer;
  outline: transparent;
}

#posts-button-add-block:hover {
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: white;
  color: #af554f;
  box-shadow: 2px 2px 1px black;
}

#posts-button:hover,
.home-button:hover,
.submit-register-form-button:hover {
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: white;
  color: #af554f;
  box-shadow: 2px 2px 1px black;
}

.posts-input,
.form-control {
  padding: 10px;
  width: 300px;
  font-size: 1em;
  border: 2px solid darkslategrey;
  margin: 5px;
  border-radius: 6px;
  outline: transparent;
}

.register-form-control,
.login-form-control {
  padding: 10px;
  width: 300px;
  font-size: 1em;
  margin: 5px;
  border-radius: 6px;
}

.posts-input-modal {
  padding: 10px;
  width: 300px;
  font-size: 1em;
  border: 2px solid darkslategrey;
  border-radius: 15px;
  outline: transparent;
  margin-right: 1rem;
}

.flex-container-modal-text-input {

}

.flex-container-modal-text-input-item-summary {

}

#flex-container-modal-text-input-item-button {
  margin-bottom: 0.7em;
  width: 100%;
}

#flex-container-modal-text-input-item-button #confirm-modal-button{
  width: 100%;
}

.posts-input:focus {
  outline: transparent;
}

.posts-input-modal:focus {
  outline: transparent;
}

.posts-option {
  padding: 0 20px 0px 20px;
  display: flex;
}

.form-group {
  display: flex;
  height:55px;
}

.expansion-panel-schedule {
  width: 75%;
  margin: 2em auto 2em auto;
}

#posts-loading {
  color: white;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}

.block-link {
  text-decoration: none;
}

#stepOneInfo {
  padding: 1em;
}

.block-one-content {
  margin: 2em auto 2em auto;
  width: 80%;
  border-radius: 6px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.block-content-item {
  width: 90%;
  margin: 0 auto 1rem auto;
}

.block-content-num {
  font-size: 1rem;
}

.block-content-header {
  display: flex;
  vertical-align: center;
}

#stepOneInfo {
  margin: 2em auto 2em auto;
  width: 75%;
}

.block-one-info {
  font-size: 1.2em;
}

.learn-more {
  margin: 10px 0 10px 0;
  font-size: 1em;
  color: blue;
}

.learn-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

#stepOneInfo .finish-step-button {
  margin: 2em 0 1em;
}

.create-courses-page {
  margin: 3em;
}

.course-name {
  font-size: 1.4rem;
  vertical-align: middle;
  line-height: 50px;
  height: 50px;
}

.course-name button {
  float: right;
}

.update-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border-radius: 10px;
  width: 75%;
  height: 55%;
  transform: translate(-50%, -50%);
  background-color: beige;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.update-modal:focus {
  outline: transparent;
}

.update-modal-content {
  padding: 2rem;
  font-size: 1.1rem;
}

#close-modal-button {
  float: right;
  width: 45px;
  height: 45px;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
}

#close-modal-button:hover {
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: lightgrey;
  color: black;
  box-shadow: 2px 2px 1px black;
}

#update-modal-course-name {
  cursor: pointer;
  margin-top: 1rem;
}

#update-modal-course-name:hover {
  text-decoration: underline lightgrey;
}

#update-modal-course-summary {
  cursor: pointer;
}

#update-modal-course-summary:hover {
  text-decoration: underline lightgrey;
}

#confirm-modal-button {
  border-radius: 10px;
  cursor: pointer;
  height: 45px;
  width: 45px;
  vertical-align: middle;
}

#confirm-modal-button:focus {
  outline: transparent;
}

#confirm-modal-button:hover {
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  background-color: lightgrey;
  color: black;
  box-shadow: 2px 2px 1px black;
}

.flex-container-modal {
  height: 50px;
  width: 70%;
  justify-content: center;
}

.flex-container-modal-item-input {
  display: flex;
}

.flex-container-modal-item {
  vertical-align: middle;
}

.create-blocks {
  margin-top: 3em;
}

.text-input-blocks,
.form-control {
  margin: 2em 0 2em 0;
  padding: 0 20px;
}

.table-root {
  width: 100%;
  overflow-x: auto;
}

.courses-table {
  margin-top: 2rem;
}

.error-message {
  padding: 1rem 0 1rem 0;
}

.home-buttons {
  width: 300px;
  margin: 1rem auto 1rem auto;
  display: flex;
  justify-content: center;
}

.login-from-register-form:hover,
.register-from-login-form:hover {
  text-decoration: black;
}

.register-form,
.login-form {
  width: 80%;
  margin: 2rem auto 2rem auto;
}

.register-form-inputs div,
.login-form-inputs div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 1rem;
}

.register-form-inputs > div:first-child,
.login-form-inputs >div:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.register-form-inputs > div:last-child,
.login-form-inputs > div:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.MuiPrivateNotchedOutline-root-49 MuiOutlinedInput-notchedOutline-26 {
  border-color: rgba(0, 0, 0, 0.23);
}

.registration-error {
  color: red;
  height: 2rem;
}

.panel-name {
  font-weight: bold;
  color: black;
}

.auth-field {
  width: 50%;
  padding: 1rem;
}

label + .MuiInput-formControl-24 {
  width: 100%;
  margin-left: 0;
}

.lesson {
  margin: 2em auto 2em auto;
  width: 90%;
  border-radius: 6px;
  background-color: #ffffff;
}

.lesson-content {
  width: 95%;
  margin: 1rem auto 1rem auto;
  display: flex;
  flex-direction: column;
}

.lesson-title {
  width: 50%;
  margin: 0 auto 1rem auto;
  text-align: center;
}

.fa-check:before {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid grey;
  background: cadetblue;
  border-radius: 5px;
}

.block-content-item h2 {
  color: #ffffff;
}

.block-content-name {
  color: black;
}









